:root {
 background-color: #dde3e4;
}

#intro {
  text-align: center;
}

a {
  text-decoration: none;
}

#timer {
  float: right;
}

#mainContent {
  text-align: center;
  margin: 100px auto auto auto;

}

button {
  width: 300px;
  height: 50px;
  margin: 30px auto;
  padding: 15px;
  display: flex;
  justify-content: center;
  background-color: #9bc5d4;
}

button:disabled {
  color:black;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}

table {
  display: flex;
  justify-content: center;
}


